<form>
  <input
    type="search"
    placeholder="Enter Character Here...."
    name="_searchCharacterName"
    [(ngModel)]="_searchCharacterName"
    (input)="
      this.searchFilteredNames.formatFilteredNames(
        charactaName,
        allcharacterNames,
        _searchCharacterName
      )
    "
  />
  <button type="submit">Search</button>
</form>
<app-char-card    *ngFor="
let character of allcharacterNames
  | characterSearchFilter: _searchCharacterName;
index as i
" [c]=_searchCharacterName></app-char-card>
<img
  [src]="character.image"
  *ngFor="
    let character of allcharacterNames
      | characterSearchFilter: _searchCharacterName;
    index as i
  "
/>
