p {
  font-family: 'Annie Use Your Telescope';
  font-size: 1.5em;
  margin: 10px;
}
.characterCard-wrapper {
  padding: 10px;
  width: 70vw;
  font-family: Luckiest Guy;
  text-shadow: 1px 2px 10px black;
  background-color: rgb(60, 62, 68);
  border-radius: 15px;
  color: #fff;
}

.charCard-container {
  display: flex;

}

.charCard-status-icon {
  font-size: x-small;
}

.charCard-status-icon_alive {
  color: yellowgreen;
}

.charCard-status-icon_dead {
  color: red;
}
.charCard-status-icon_unknown {
  color: grey;
}

