<article>
  <section class="card-wrapper">
    <div>
      <mat-list>
        <mat-list-item>
          <mat-icon [ngClass]="{
            
          }" matListItemIcon>circle</mat-icon>
          <h1 matListItemTitle> <span class="card-status">{{characterInfo.status}}</span> | {{ characterInfo.name }} </h1>
        </mat-list-item>
      </mat-list>
      <div class="card-container"><img [src]="characterInfo.image" alt="" />
      </div>
    </div>
    <div class="card-table card-container">

      <h3>Last Known Location:</h3>
      <p>{{ characterInfo.location.name }}</p>

      <h3>Gender:</h3>
      <p>{{ characterInfo.gender }}</p>

      <h3>Species:</h3>
      <p>{{ characterInfo.species }}</p>

      <h3>Number Of Episodes:</h3>
      <p>{{ characterInfo.episode.length }}</p>
    </div>
  </section>
</article>
